
#a1:hover{
  border-radius: 10px;
  background-color: rgb(138, 231, 91);
  margin: 5px;
}
#logo{
  width: 100px;
  height: 100px;
}
.searchcity{
  font-size: 25px;
}
#searchbutton{
  margin-bottom: 20px;
  margin-top: 20px;
}
.hide {
  display: none;
}

.myDIV:hover{
  display: none;
  color: red;
}
#intro {
  background-image: url(src\assets\pexels-tahir-shaw-186980.jpg);

}
.s
{
    position:relative;
    height:30%;
width: 45%;
}
