<nav class="navbar navbar-light bg-primary justify-content-between">
  <img id="logo"src="assets\wa12.png" alt="logo">

  <a class="navbar-brand m-2" style="color: rgb(235, 235, 242); font-weight: 800;font-size: xx-large;position: absolute; left:100px;">Weather Forecast
    App</a>

  <div class="nav-item" style="display: flex;">

    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;"*ngIf="!checkLogout()" routerLink="/signup">Register</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="!checkLogout()" routerLink="/login">Login</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="checkLogout()" >Welcome {{fullName}}</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="checkLogout()" routerLink="/updatepassword" >change password</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;"><img src="assets\icons8-add-to-favorites-48.png" alt="fav" height="30px" routerLink="/wishlist" >
      <div class="myDIV"></div>
      <div class="hide">favourite</div></li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="checkLogout()" (click)="logout()" >Logout</li>

    <!-- <button class="btn btn-danger m-2" *ngIf="checkLogout()" (click)="logout()">Logout</button> -->
  </div>
</nav>

<div class="back" style="position: relative;text-align: center;color: white;">
  <img style="width: 100%; margin-bottom: 0px;height: 600px;" src="assets\pexels-tahir-shaw-186980.jpg" alt="w">
  <div class="s" style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%);">

    <div class="searchcity" style="color: #f7fbfd; font-weight: 800;font-size: xx-large;;">Enter City Name</div>

    <input class="form-control mr-sm-2 bg-light" #country type="search" placeholder="Search City" aria-label="Search">

    <button id="searchbutton" style="background: #ecf6fa;" class="btn btn-outline-dark " type="submit"
      (click)="getCity(country.value);getAllForecast(country.value)">Search</button>
      <button id="searchbutton" style="background: #ecf6fa;" class="btn btn-outline-dark " type="submit"
      (click)="getCity(country.value);addWatch(country.value)">add</button>
    <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
      <div class="card-body p-4">
              <div class="d-flex justify-content-between mb-4 pb-2">
                <div>
                  <h2 style="color: #1f1f1d;" class="display-2"><strong> {{this.temp}}°C</strong></h2>
                  <p class="text-muted mb-0"> {{this.city}}</p>
                  <p class="text-muted mb-0">Humidity:{{this.humidity}}%</p>
                  <p class="text-muted mb-0">Description:{{this.description}}</p>
                  </div>
                  <div id="feels_Like">
                  <p class="text-muted mb-0">Feels Like:{{this.tempFeelsLike}}</p>
                  <p class="text-muted mb-0">Max temp:{{this.tempMax}}</p>
                  <p class="text-muted mb-0">Min temp:{{this.tempMin}}</p>

                </div>
                <div>
                  <img [src]="weatherIcon"
                    width="150px">
                </div>

      </div>
    </div>
    </div>

  </div>
  <!-- forecast -->

</div>
<footer style="background-color: rgb(104, 169, 243);text-align: center;">&copy;All right reserverd License <a href="#"
    style="text-decoration: none;">CGI Training</a></footer>
