<nav class="navbar navbar-light bg-primary justify-content-between">

  <a class="navbar-brand m-2" style="color: rgb(235, 235, 242); font-weight: 800;font-size: xx-large;">Weather Forecast
    App</a>

  <div class="nav-item" style="display: flex;">

    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" routerLink="/signup">Register</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="!checkLogout()" routerLink="/login">Login</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;">Favourite</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="checkLogout()">Recommend</li>
    <li id="a1" style="list-style-type: none; color: white;cursor: pointer;padding: 8px;display: block;" *ngIf="checkLogout()" (click)="logout()" >Logout</li>
    <!-- <button class="btn btn-danger m-2" *ngIf="checkLogout()" (click)="logout()">Logout</button> -->
  </div>


</nav>

<div class="back" style="position: relative;text-align: center;color: white;">
  <img style="width: 100%; margin-bottom: 0px;height: 600px;" src="../../../assets/wa10.jpg" alt="w">
  <div class="s" style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%);">
    <div class="searchcity" style="color: black;">Search city</div>
    <input class="form-control mr-sm-2 bg-light" #country type="search" placeholder="Search City" aria-label="Search">
    <button style="background: rgb(146, 136, 228);" class="btn btn-outline-dark my-4 my-sm-0 m-5" type="submit"
      (click)="getCity(country.value);getAllForecast(country.value)">Search</button>
    <ul style="display: flex; justify-content: space-between;text-decoration: none;list-style-type: none">
      <li style="color: red; background-color: aqua;border-radius: 20px;">temp: {{this.temp}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">feels like: {{this.tempFeelsLike}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">city: {{this.city}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">min temp: {{this.tempMin}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">max temp: {{this.tempMax}}</li>

    </ul>
    <ul style="display: flex; justify-content: space-between;text-decoration: none;list-style-type: none">
      <li style="color: red;background-color: aqua;border-radius: 20px;">description: {{this.description}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">latitude: {{this.lat}}</li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">longitude: {{this.lon}}</li>
      <!-- <li style="color: red;background-color: aqua;">country: {{this.country}}</li> -->
      <li style="color: red;background-color: aqua;border-radius: 20px;"><img
          src="http://openweathermap.org/img/wn/10d@2x.png" alt="icon"></li>
      <li style="color: red;background-color: aqua;border-radius: 20px;">humidity: {{this.humidity}}%</li>

    </ul>

  </div>
  <!-- forecast -->





</div>
<footer style="background-color: rgb(110, 110, 117);text-align: center;">&copy;All right reserverd License <a href="#"
    style="text-decoration: none;">MIT</a></footer>
